[Unit]
Description=Описание вашего бота
After=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/home/MailingBot/api_google_bot/api_google_bot.py
ExecReload=/home/MailingBot/api_google_bot/api_google_bot.py
WorkingDirectory=/home/MailingBot/api_google_bot/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
